#sidebarnav {
  background-color: #222222;
  height: 100vh;
  min-height: 100vh !important;
  float: left;
}

#sidebarnav > svg:nth-child(1) {
  cursor: pointer;
  color: lightgray;
  padding: 5px 20px;
}

#sidebarnav > svg:nth-child(1):hover {
  color: darkgrey;
}

#sidebarnav > svg {
  display: flex;
  justify-content: left;
}

#sidebarnav > div {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-left: 20px;
}

#sidebarnav > div > a {
  text-decoration: none;
  display: flex;
  color: lightgray;
  padding-right: 30px;
}

#sidebarnav > div > a:hover {
  color: darkgrey;
}

svg {
  /* transform: scale(0.8); */
  padding-right: 7px;
}
